<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Ocean</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="textoNavbar">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
     Desbravar. Explorar. Navegar.
    </span>
  </div>
</nav>
 <!-- Fim da navbar -->
    <!-- Grupo de cards -->
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ocean Video</h5>
      <p class="card-text">Adicione, visualize, atualize e delete do catálogo de videos.</p>
      <a href="/video"><button type="button" class="btn btn-primary">Ver</button></a>
      <a href="/buscavideo"><button type="button" class="btn btn-success">Buscar</button></a>
       <a href="/homevideo"><button type="button" class="btn btn-dark">+</button></a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ocean Livros</h5>
      <p class="card-text">Adicione, visualize, atualize e delete da nossa biblioteca.</p>
      <a href="/livros-cad"><button type="button" class="btn btn-primary">Ver</button></a>
      <a href="/busc-livros">   <button type="button" class="btn btn-success">Buscar</button> </a>
       <a href="/livros"><button type="button" class="btn btn-dark">+</button></a>
      
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> Ocean Musica</h5>
      <p class="card-text">Adicione, visualize, atualize e delete do catálogo de músicas. </p>
        <a href="/musica"><button type="button" class="btn btn-primary">Ver</button></a>
      <a href="/buscamusica"><button type="button" class="btn btn-success">Buscar</button></a>
       <a href="/homemusica"><button type="button" class="btn btn-dark">+</button></a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ocean Jogos</h5>
      <p class="card-text">Adicione, visualize, atualize e delete do catálogo de jogos.</p>
       <a href="/gamelist">  <button type="button" class="btn btn-primary">Ver</button></a>
     <a href="/buscagame"><button type="button" class="btn btn-success">Buscar</button></a>
             <a href="/addgame"><button type="button" class="btn btn-dark">+</button></a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ocean Loja</h5>
      <p class="card-text">Adicione, visualize, atualize e delete nossos departamentos. </p>
      <a href="/loj">  <button type="button" class="btn btn-primary">Ver</button> </a>
      <a href="/busca-loja"> <button type="button" class="btn btn-success">Buscar</button> </a>
       <a href="/loja"><button type="button" class="btn btn-dark">+</button></a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Fornecedores Ocean</h5>
      <p class="card-text">Adicione, visualize, atualize e delete a lista de fornecedores.</p>
          <a href="/fornecedor-cad">  <button type="button" class="btn btn-primary">Ver</button> </a>
         <a href="/busc-fornecedor"><button type="button" class="btn btn-success">Buscar</button> </a>
          <a href="/fornecedor"><button type="button" class="btn btn-dark">+</button></a>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>