<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Ocean</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="textoNavbar">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
     Desbravar. Explorar. Navegar.
    </span>
  </div>
</nav>
 <!-- Fim da navbar -->
<h2>Cadastro de Videos</h2>
    <hr>
    <form action="video/insertvideo" method="POST">
        <div class="form-control">
            <input type="hidden" name="id" id="id">

               <div class="form-control">
            <label for="text">Video:</label>
            <input type="text" name="video" placeholder="Digite o tipo de midia visual">
        </div>

            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Digite o nome do video">
        </div>

         <div class="form-control">
            <label for="text">Diretor:</label>
            <input type="text" name="diretor" placeholder="Digite o nome do diretor">
        </div>

        
    
        <input type="submit" value="Cadastrar">
    </form>
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
